{{ ansible_managed }}


Environment Variables ("environment"):
--------------------------------
{{ ansible_env | to_nice_yaml }}


GROUP NAMES Variables ("group_names"):
--------------------------------
{{ group_names | to_nice_yaml }}


GROUPS Variables ("groups"):
--------------------------------
{{ groups | to_nice_yaml }}


HOST Variables ("hostvars"):
--------------------------------
{{ hostvars[inventory_hostname] | to_nice_yaml }}


Ansible Variables ("vars"):
--------------------------------
{{ vars | to_nice_yaml }}
